.callout {
    margin: 10%;
    max-width: 400px;
    border: 1px solid #000000;
    padding: 10px;
    background-color: #247;
    color: white;
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid black;
    padding: 3px;
    background-color: #bbb;
    width: 15 0;
    height: auto;
}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted #fff;
    text-align: right;
    font-size: smaller;
}